// comon colors
$white: #fff;
$back: #000;
// / comon colors

// link colors
$link-color: #9ad9ea;
$link-hover-color: #80c6d2;
// / link colors

// breadcrumb colors
$breadcrumb-link-active-color: #a3a6b5;
// / breadcrumb colors

// pay button colors
$paypal-btn-bg-color: #ffc621;
$amazon-btn-bg-color: #fad676;
// / pay button colors

// separator colors
$sep-txt-color: #999999;
$sep-line-color: #e6e6e6;
// / separator colors

// input colors
$input-border-color:#dbdbdb;
// / input colors

// checkbox colors
$checkbox-container-color: #6f8088;
$checkbox-checked-color: #9cd0dd;
$checkbox-border-color: #dbdbdb;
// / checkbox colors

// shopping button colors
$shopping-btn-bg-color: #f1532e;
$shopping-btn-bg-hover-color: #da3710;
$shopping-btn-bg-focus-color:#da3710;
// / shopping button colors

// sidebar colors
$sidebar-bg-color :#f2f2f2;
$sidebar-border-color : #dadada;
// / sidebar colors

// price text colors
$txt-fade-color: #919191;
$txt-dark-color: #494949;
$field-label-color:#cccccc;
// / price text colors

// product image colors
$img-border-color: #e3e3e3;
// / product image colors

// product image badge colors
$badge-bg-color: #a3a3a3;
// product image badge colors

// about order colors
$about-order-bg-color: rgba(255,255,255,0.8);
// / about order colors

// mobile sidebar colors
$accrdion-bg: #f2f2f2;
$accrdion-titlebar-bg: #fafafa;
$accrdion-titlebar-border-color: #e6e6e6;
$accrdion-titlebar-link-color: #9ad2db;
// /mobile sidebar colors

// shipping address shipiing methos colors
$shipping-address-bg-color: #fafafa;
$shipping-address-border-color: #d9d9d9;
// / shipping address shipiing methos colors

// payment method accordion
$card-body-color:#fafafa;
$card-border-color:#d9d9d9;

$payment-method-img-border-color:#d9d9d9; 
// / payment method accordion

// warning row
$warning-row-bg-color:#ff6d6d;
$error-msg-color: #ff6d6d;
// / warning row